<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="60"/> <!--refresh sau mỗi 60s-->
    <title>Anime WebASP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/plyr.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Content/img/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="@Url.Action("Index", "Home")">Homepage</a></li>
                                <li>
                                    <a href="@Url.Action("Categories", "Products")">
                                        Categories <span class="arrow_carrot-down"></span>
                                    </a>

                                    <ul class="dropdown">
                                        <!-- <li><a href="./categories.html">Categories</a></li> -->
                                        <!-- <li><a href="#">Romanic</a></li>
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Sport</a></li>-->

                                        <li>
                                            <a href="./categories.html">Categories</a>
                                        </li>

                                        <li><a href="./anime-details.html">Anime Details</a></li>

                                        <li>
                                            <a href="./anime-watching.html">Anime Watching</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Blog_details", "Home")">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="@Url.Action("Blog", "Home")">Our Blog</a></li>

                                <li>
                                    <div class="header__right" style="display: flex">
                                        <a href="#" class="search-switch">
                                            <span class="icon_search"></span>
                                        </a>
                                    </div>
                                <li>
                                    <a href="./login.html">
                                        <span class="icon_profile"></span>
                                    </a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="@Url.Action("Register", "Accounts")">Register</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Login", "Accounts")">Login</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>


    <div>
        @RenderBody()

        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton">
                    <span class="arrow_carrot-up"></span>
                </a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="@Url.Action("Index", "Home")">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="@Url.Action("Blog_details", "Home")">Our Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="search-model">
            <div class="h-100 d-flex mt-5 justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here....." />
                </form>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/player.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>>
